/* Coolors Exported Palette - coolors.co/ff4e00-8ea604-f5d100-ec9f05-bf3100 */

/* HSL */
$color1: hsla(18%, 100%, 50%, 1);
$color2: hsla(69%, 95%, 33%, 1);
$color3: hsla(51%, 100%, 48%, 1);
$color4: hsla(40%, 96%, 47%, 1);
$color5: hsla(15%, 100%, 37%, 1);

/* RGB */
$color1: rgba(255, 78, 0, 1);
$color2: rgba(142, 166, 4, 1);
$color3: rgba(245, 209, 0, 1);
$color4: rgba(236, 159, 5, 1);
$color5: rgba(191, 49, 0, 1);
